.category{
    position: relative;
    width: 1296px;
    height: 72px;
    padding: 19px 0;
    margin: 0 auto;
    background: #ffff;
    text-align: center;
    box-sizing: border-box;
    
}
.logo{
    /* border: 1px dashed red; */
    float: left;
    text-align: center;
    line-height: 75px;
}
.logo>img{
    width: 100px;
    display: block;
    margin-left: 20px;
   
}

.menu{
    text-align: center;
    margin-right: 25px;
}

.menu>span{
    display: inline-block;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.5px;
    color: #000;
    margin-right: 10px;
    
}

.login{
    float: right;
    padding: 7px 0;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -0.2px;
    color: #000;

}

.hashtag{
    clear : both;
}

.mainImg{
    opacity: 1;
    /* width: 1296px; */
    /* transform: translate3d(0px, 0px, 0px); */
    /* max-width: 100%;
    height: auto; */
}

.tit{
    display: block;
    margin: 36px 0 14px;
    font-size: 42px;
    line-height: 62px;
    text-align: center;
}

.desc{
    margin-bottom: 148px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
}

